{% extends 'base.html' %}
{% block body %}

    <title>Login Page</title>
  </head>
  <body class="bg-dark text-light">
    <h1>Login</h1>
    <form>
      {% csrf_token %}
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock body %}